{% extends 'DRIVER/base.html' %}
{% block body %}


		      <form class="form-login" action="" method="post">
                  {% csrf_token %}
		        <h2 class="form-login-heading">Change Password</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="Old Password" name="old" autofocus>
		            <br>
		            <input type="password" class="form-control" placeholder="New Password" name="new">
                    <br>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm">
                    <br>
		            <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-pencil-square"></i> Update </button>
		            <hr>

		        </div>

		      </form>
	  	{% endblock %}
